@model Blog.Web.Models.PostDto

<form asp-action="PostEdit">
    <input asp-for="PostId" hidden />
    <br />
    <div class="container border p-3">
        <h1 class=text-black>Edit Post</h1>

        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Text" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Text" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="UserId" />

            <div class="col-5 offset-2">
                <a asp-action="PostIndex" class="btn-dark btn form-control">Back to list</a>
            </div>

            <div class="col 5">
                <input type="submit" value="Update" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>