@model UserDeleteViewModel

<form asp-action="Delete" method="post">

    <br />

    <div class="container border p-3">
        <h1 class=text-black>Delete User</h1>

        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="UserName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="UserName" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="FirstName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="FirstName" disabled class="form-control"></input>
            </div>
            <div class="col-2">
                <label asp-for="LastName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="LastName" disabled class="form-control"></input>
            </div>

            <input type="hidden" asp-for="UserId" />

            <div class="col-5 offset-2">
                <a asp-action="Index" class="btn-dark btn form-control">Back to list</a>
            </div>

            <div class="col 5">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}